nav{
    background: white;
    border-bottom: .0625rem solid #e0e0e0;
    color: black;
}
.avatar{
    -webkit-border-radius:50%;
    border-radius: 50%;
    position:relative;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}
.flex{
    display: flex;
    align-items: center;
}

.profile_flex{
    display: flex;
    align-items: center;
    background-color: #dfd6d6;
    -webkit-border-top-right-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
    justify-content:flex-start;
    margin:10px 4px;
}
.sidenav li>a 
{
    padding:0 0px;
        font-family: 'Google Sans',Roboto,Arial,sans-serif;
      
}

li{
    padding:0px;
}
